.centered{
    text-align: center;
    align-items: center;
    color: red;
    border: red double 4px;
}

.toUpper{
    text-transform: uppercase;
}

.loadingSpinner{
    margin-left: 48%;
    padding: 20px;
}