<div class="row">
    <div class="col-4" *ngFor="let pokemon of pokemonArray">
        <!-- CARD -->
        <div class='card centered'>
            <p><img src="{{pokemon.sprites}}" alt=""></p>
            <p class='card-text toUpper'>{{pokemon.name}}</p>
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal"
                (click)="getModalDetails(pokemon.name, pokemon.id, pokemon.sprites, pokemon.types, pokemon.stats)">SHOW</button>
        </div>
        <!-- MODAL -->
        <app-modal-component [pokemonName]="pokemonName" [pokemonId]="pokemonId" [pokemonStats]="pokemonStats"
            [pokemonTypes]="pokemonTypes" [pokemonSprite]="pokemonSprite">
        </app-modal-component>
    </div>
</div>