<div class="modal fade" [id]="'modal'+pokemonToShow.id" tabindex="-1" role="dialog" [attr.aria-labelledby]="'modal'+pokemonToShow.id+'Label'"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title toUpper" [id]="'modal' + pokemonToShow.id">{{ pokemonToShow.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><img src="{{pokemonToShow.sprites}}" alt=""></p>
                <p>POSIZIONE NEL POKEDEX: {{ pokemonToShow.id }}</p>
                <p>TIPI: {{ pokemonToShow.types }}</p>
                <p>STATISTICHE: {{ pokemonToShow.stats }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>