<div *ngIf="!loadingTypeCard" class='card centered'>
    {{ pokemonToShow.name }}
    <img src="{{pokemonToShow.sprites}}" alt="img">
    <button class="btn btn-outline-danger" data-toggle="modal"
        [attr.data-target]="'#modal' + pokemonToShow.id">SHOW</button>
</div>
<!-- MODAL -->
<app-modal [pokemonToShow]="pokemonToShow">
</app-modal>
<div *ngIf="loadingTypeCard" class='card centered'>
    <div style="margin-left: 48%; padding: 20px;" class="spinner-border text-danger" role="status"></div>
</div>