<div class="pagesNavigator">
    <app-navigator [selectedPage]="selectedPage" (pageEmitter)="setPage($event)"></app-navigator>
</div>
<div style="margin-top: 20px;" class="container">
    <div *ngIf="!loadingList" class="row">
        <div class="col-4" *ngFor="let pokemonUrl of pokemonUrlArray">
            <app-card [pokemonUrl]="pokemonUrl"></app-card>
        </div>
    </div>
    <div *ngIf="loadingList" class="row">
        <div class="spinner-border loadingSpinner text-danger" role="status"></div>
    </div>
</div>